<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="squad.myfitnessbuddy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Setup"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserProfile"
            android:label="@string/title_activity_user_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreateWorkout"
            android:label="@string/title_activity_create_workout"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PredefinedWorkouts"
            android:label="@string/title_activity_predefined_workouts"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SavedWorkouts"
            android:label="@string/title_activity_saved_workouts"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyLogs"
            android:label="@string/title_activity_my_logs"
            android:theme="@style/AppTheme.NoActionBar" />
        >
        <activity
            android:name=".PreviewWorkout"
            android:label="@string/title_activity_preview_workout"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StartWorkout"
            android:label="@string/title_activity_start_workout"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
